@using Microsoft.AspNetCore.Identity
@using PojisteniWebApp
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Aplikace pojištění" />
    <title>KVinsurance</title>
    <link rel="shortcut icon" href="~/images/ikona.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("CSS", required: false)
</head>

<body>
    <header>
        <div class="header-container">
            <div id="logo">
                <h1><span>KV</span></h1>
                <small>INSURANCE</small>
            </div>
            <nav>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Domů</a></li>

                    @if (User.IsInRole(UserRoles.Admin))
                    {
                        @* Tyto odkazy uvidí POUZE admin *@
                        <li><a asp-controller="Clients" asp-action="Index">Pojištěnci</a></li>
                        <li><a asp-controller="Insurances" asp-action="Index">Pojištění</a></li>
                    }

                    <li><a asp-controller="Home" asp-action="About">O aplikaci</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Kontakt</a></li>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (User.IsInRole(UserRoles.User))
                        {
                            @* Tento odkaz uvidí POUZE přihlášený běžný uživatel *@
                            <li><a asp-controller="Profile" asp-action="Index">Moje údaje</a></li>
                        }

                        @* Odkaz pro odhlášení (pro všechny přihlášené) *@
                        <li>
                            <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" style="display: none;"></form>

                            <a href="#" onclick="event.preventDefault(); document.getElementById('logoutForm').submit();" class="prihlasit-tlacitko">ODHLÁSIT SE</a>
                        </li>
                    }
                    else
                    {
                        @* Tyto odkazy uvidí POUZE nepřihlášený uživatel *@
                        <li><a class="prihlasit-tlacitko" asp-controller="Account" asp-action="Login">PŘIHLÁSIT SE</a></li>
                    }
                </ul>
            </nav>
        </div>
    </header>


    <article>
        <header>
            <h1>@ViewData["Title"]</h1>
        </header>
        <section>
            @RenderBody()
        </section>
    </article>

    <footer>
        Vytvořila &copy;Karin Vaculíková @DateTime.Now.Year</a>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>