@{
    ViewData["Title"] = "";
}
<div class="text-center">
        <p class="lead">Omlouváme se, ale váš klientský profil nebyl nalezen.</p>
    <p>
        Je možné, že ještě nemáte v naší databázi vytvořenou klientskou kartu.
        Prosím, <a asp-controller="Home" asp-action="Contact">kontaktujte naši podporu</a> a my vše prověříme.
    </p>
    <hr />
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Zpět na domovskou stránku</a>
</div>
