@model PojisteniWebApp.Models.InsuranceViewModel

@{
    ViewData["Title"] = "Odstranění";
}

<div>
    <h4>Opravdu chcete pojištění odstranit?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Odstranit" class="btn btn-danger" /> |
        <a asp-action="Index">Zpět na přehled</a>
    </form>
</div>
