@{
    ViewData["Title"] = "Vaše bezpečí. Naše starost.";
}

<img src="~/images/avatar.jpg" class="avatar" alt="Programátor HoBi" />
<h4>Život přináší nečekané události. Ať už jde o radosti, nebo o starosti, naším cílem je poskytnout vám klid a jistotu, že i v těch nejtěžších chvílích máte oporu, na kterou se můžete spolehnout.</h4>


<p class="tlacitko-odstavec">
    <a asp-controller="Home" asp-action="References" class="reference-tlacitko">Moje reference</a>
</p>
<div class="cistic"></div>